arcade==2.6.17
attrs==23.1.0
cffi==1.15.1
cfgv==3.4.0
click==8.1.7
colorama==0.4.6
distlib==0.3.7
filelock==3.12.4
identify==2.5.29
mypy-extensions==1.0.0
nodeenv==1.8.0
packaging==23.1
pathspec==0.11.2
Pillow==10.0.1
platformdirs==3.10.0
pycparser==2.21
pyglet==2.0.dev23
pymunk==6.4.0
pytiled-parser==2.2.0
PyYAML==6.0.1
typing_extensions==4.8.0
virtualenv==20.24.5
